@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: rgb(25,25,25);
    margin-left: 15vw;
    margin-right: 15vw;
}

main {
    margin-top: 5em;
}

.content {
    height: fit-content;
    min-height: 450px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    background: #424242;
    background: linear-gradient(180deg,rgb(64, 64, 64) 0%, rgb(25, 25, 25) 100%);
}

h1 {
    font-family: "DM Sans";
    color: white;
    font-size: 30px;
    font-weight: 800;
}

h2 {
    font-family: "DM Sans";
    color: white;
    font-size: 25px;
    font-weight: 600;
}

p {
    color: white;
    font-family: "DM Sans";
    font-size: 17px;
}

small {
    font-style: italic;
    color: #888888;
    font-size: 12px;
}

.uiButton {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    height: fit-content;
    width: fit-content;
    height: 50px;
    background:  white;
    font-family: "DM Sans";
    font-size: 14px;
    text-decoration: none;
    border: none;
    border-radius: 15px;
}

.uiButton:hover {
    color: white !important;
    background-color: #47cf8b;
}

.uiButton a {
    text-align: center;
    color: black;
}

@media (max-width: 768px) {
     body {
        margin-left: 0;
        margin-right: 0;
    }
}