/* ===== THEME VARIABLES ===== */
:root {
  --nav-bg: #2e2e2e;
  --nav-shadow: rgba(0, 0, 0, 0.25);
  --btn-text: rgb(255, 255, 255);
  --btn-active-bg: rgba(255, 255, 255, 0.50);
  --btn-active-shadow: rgba(0, 0, 0, 0.25);
  --btn-active-txt: #ffffff;
  --btn-hover-bg: rgba(255, 255, 255, 0.25);
}

body.light-theme {
  --nav-bg: #e0e0e0;
  --nav-shadow: rgba(0, 0, 0, 0.15);
  --btn-text: #000000;
  --btn-active-bg: #47cf8b;
  --btn-active-shadow: rgba(0, 0, 0, 0.15);
  --btn-active-txt: #ffffff;
  --btn-hover-bg: #aeffd7;
}

/* ===== NAVIGATION ===== */
.navbar {
  width: fit-content;
  top: 1vh;
  left: 50%;
  z-index: 1000;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  border: none;
  background: var(--nav-bg);
  box-shadow: 0 5px 10px 3px var(--nav-shadow);
}

.navContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.themeContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: fit-content;
  top: 1vh;
  left: 50%;
  z-index: 1000;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: var(--nav-bg);
  box-shadow: 0 5px 10px 3px var(--nav-shadow);
}

.slider {
  display: flex; 
  gap: 5px; 
  justify-content: center;
  border-radius: 5px;
  background: var(--btn-hover-bg);
}

.themeButton {
  color: var(--btn-text);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.themeButton:hover {
  background: var(--btn-hover-bg);
}

.themeButton.active {
  color: var(--btn-active-txt);
  background: var(--btn-active-bg)
}

.navItems {
  gap: 30px;
  display: flex;
  justify-content: center;
  height: 100%;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

/* ===== BUTTONS ===== */
.navBtn {
  height: 100%;
  border: none;
  background: none;
  font-family: var(--header);
  font-weight: 500;
  font-size: 15px;
  color: var(--btn-text);
  border-radius: 0;
  cursor: pointer;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBtn.active {
  color: var(--btn-active-txt);
  border-radius: 10px;
  background: var(--btn-active-bg);
  box-shadow: 0 4px 4px 0 var(--btn-active-shadow);
}

.navBtn:hover {
  border-radius: 10px;
  background: var(--btn-hover-bg);
  box-shadow: 0 4px 4px 0 var(--btn-active-shadow);
}

@media (max-width: 850px) {
  .navContainer {
    gap: 0;
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  .navbar, .themeContainer {
    box-shadow: none;
    padding-bottom: 15px;
    padding-top: 5px;
    transform: none;
    width: 100%;
    border-radius: 0;
  }
  
  .navItems {
    gap: 30px;
  }
}